body {
    background-color: rgb(21 32 43);
}
#root{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main {
    box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px, rgb(136 153 166 / 15%) 0px 0px 3px 1px;
    border:1px solid rgb(46, 45, 45);
    background-color: rgb(25, 39, 52);
    border-radius: 5%;
}

label {
    padding-left: 15px;
    padding-top: 5px;
  
}

.ui.header{
    align-content: center;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    color: white;
}

.ui.header.label {
    padding-bottom: 0px;
    color: rgb(86, 132, 175);
    background-color:transparent;
}
.ui.form .field>label {
    color: rgb(86, 132, 175);
}

.text.input {
    padding: 15px;
    color: rgb(37,51,65,1);
};